<div class="block sb_search_block">
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <div class="thumbnail sb_thumbnail_md sb_thumbnail_search">
                <a href="{{ url }}"><img src="{{ profile_pic }}"></a>
            </div>
        </div>
        <div class="col-xs-8 sb_search_content_block">
            <h6><a href="{{ url }}">{{title}}</a></h6>
            <p>Started by: {{quest.title}}</p>
        </div>
      </div>
</div>