<div class="block sb_search_block">
    <div class="row">
        <div class="col-xs-5">
            <div class="thumbnail sb_thumbnail_md sb_thumbnail_search">
                <a href="{{ url }}"><img src="{{ profile_pic }}"></a>
            </div>
        </div>
        <div class="col-xs-7">
            <h6><a href="{{ url }}">{{title}}</a></h6>
        </div>
        <div class="col-xs-7">
            <small>Started by: {{quest.title}}</small>
        </div>
      </div>
</div>