<div class="block sb_search_block">
    <div class="row">
        <div class="col-xs-4">
            <div class="thumbnail sb_thumbnail_md sb_thumbnail_search">
              <a href="{{ url }}"><img src="{{ profile_pic }}"></a>
            </div>
        </div>
        <div class="col-xs-8">
            <h6><a href="{{ url }}">{{ first_name }} {{ last_name }}</a></h6>
            {{#ifCond current_username '==' username}}
                <p>This is you :)</p>
            {{/ifCond }}
            {{#ifCond reputation '==' 0 }}
                <div>Reputation: --</div>
            {{else}}
                <div>Reputation: {{ reputation }}</div>
            {{/ifCond }}
          <div style="display: None;" id="js-friend-request-sent_{{ username }}"><small>Friend Request Sent</small></div>
        </div>
    </div>
</div>