<div class="block search-block">
    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <div class="summary-block-img-wrapper">
                <a href="{{ url }}"><img src="{{ wallpaper_pic }}" class="max-height-100"></a>
            </div>
        </div>
        <div class="col-xs-8 search-content-block">
            <h6><a href="{{ url }}">{{title}}</a></h6>
            <p>
                {{#if about }}
                    {{about}}
                {{else}}
                    A {{level}} level {{focus_on_type}} mission.
                {{/if}}
            </p>
        </div>
      </div>
</div>