<div class="row sb_votes vote-wrapper">
    <div class="col-lg-12 sb_up_vote-wrapper {{#if is_owner}} sb_restricted {{/if}}">
        <button class="btn sb_btn vote_up sb_btn_vote
        {{#if upvote }} vote_up_active{{/if}} js-vote-up {{#if is_owner}} sb_restricted is_owner{{/if}}"
                data-parent_id="{{ id }}"
                data-parent_type="{{ type }}">
            <span class="fa fa-chevron-up"></span>
        </button>
    </div>
    <div class="col-lg-12 vote_count_wrapper">
        <span class="vote_count">{{ vote_count }}</span>
    </div>
    <div class="col-lg-12 col-md-12 sb_down_vote_wrapper
                {{#if has_reputation }}sb_restricted{{/if}}
                {{#if is_owner }}sb_restricted{{/if}}">
        <button class="btn sb_btn sb_btn_vote vote_down{{#if downvote }} vote_down_active{{/if}} js-vote-down
                    {{#if has_reputation }} sb_restricted js-needs-rep{{/if}}
                    {{#if is_owner }} sb_restricted is_owner{{/if}}"
                    data-parent_id="{{ id }}"
                    data-parent_type="{{ type }}">
            <span class="fa fa-chevron-down"></span>
        </button>
    </div>
</div>
