<div class="col-xs-12 col-sm-4">
    <div class="radio-image-selector-white">
        <a href="{{url}}">
            <h4 class="sb-profile-not-friend-header">
                {{#ifCond type "===" "profile"}}
                    {{first_name}} {{last_name}}
                {{else}}
                    {{#if title}}
                        {{title}}
                    {{else}}
                        {{first_name}} {{last_name}}
                    {{/if}}
                {{/ifCond}}</h4>
            <div class="row radio-image-selector-image-wrapper">
                <img class="radio-image-selector-image" src={{profile_pic}}>
            </div>
        </a>
    </div>
</div>