{{#each missions}}
    <div class="block">
        <div class="row">
            <div class="col-xs-3 no-padding-right">
                <div class="summary-block-img-wrapper">
                    <img src="{{ this.wallpaper_pic }}">
                </div>
            </div>
            <div class="col-xs-9">
                <h3 class="block-title">
                    <a href="{{ this.url }}">{{ this.title }}</a>
                </h3>
                <div class="block-content">
                    <small>
                        {{#if about }}
                            {{about}}
                        {{else}}
                            A {{level}} level {{focus_on_type}} mission.
                        {{/if}}
                    </small>
                </div>
            </div>
        </div>
    </div>
{{/each}}