<div class="radio-button-selector">
    {{#each missions}}
        <div class="col-xs-12 col-sm-4">
            <div class="radio-image-selector js-position" id="{{ this.id }}" data-slug="{{ this.slug }}">
                <h4 class="sb-profile-not-friend-header">{{ this.title_summary }}</h4>
                <div class="row radio-image-selector-image-wrapper">
                    <img class="radio-image-selector-image" src="{{ ../static_url }}images/legislative_bw.png">
                </div>
            </div>
        </div>
    {{/each}}
    {{#if is_owner }}
        {{# if available_missions }}
            {{# if free_account}}
                {{!-- TODO need to add button to upgrade account to pro account --}}
            {{/if}}
        {{ else }}
            <div class="col-xs-12 col-sm-4">
                <div class="radio-image-selector js-position" id="js-add-mission">
                    <h4 class="sb-profile-not-friend-header">Embark on a Mission</h4>
                    <div class="row radio-image-selector-image-wrapper">
                        <img class="radio-image-selector-image" src="{{ static_url }}images/plus_bw.png">
                    </div>
                </div>
            </div>
        {{/if }}
    {{/if}}
</div>