<div class="col-sm-4 margin-bottom-20">
    <div class="block {{#if mission.active }}block-state-active{{else}}block-state-inactive{{/if}} {{#if mission.complete }}block-state-complete{{else}}block-state-incomplete{{/if}}" id="{{ mission.id }}" data-slug="{{ mission.slug }}">
        <div class="block-hero-image" style="height: 120px; overflow: hidden;">
            <img class='width-100' src="{{mission.wallpaper_pic}}" />
        </div>
        <a class="block-title js-position" data-id="{{ mission.id }}"
           data-slug="{{ mission.slug }}" href="#">{{ mission.title_summary }}</a>
        <div class="block-content" style="height: 170px;overflow: hidden;">
            <p>
                {{#if mission.about }}
                    {{mission.about}}
                {{else}}
                    A {{mission.level}} level {{mission.focus_on_type}} mission.
                {{/if}}
            </p>
        </div>
            <div class="block-footer">
            <a href="#" class="btn btn-primary sb_btn js-position"
               data-id="{{ mission.id }}"
               data-slug="{{ mission.slug }}">
                {{button_text}}
            </a>
        </div>
    </div>
</div>