<div class="col-sm-4">
    <div class="block" id="quest_{{ id }}">
        <div class="block-hero-image" style="height: 120px; overflow: hidden;">
            <img src="{{wallpaper_pic}}" />
        </div>
        <a class="block-title" href="{{ url }}">Quest: {{ title }}</a>
        <div class="block-content" style="height: 170px;overflow: hidden;">
            <p>
                {{#if about }}
                    {{about}}
                {{else}}
                    A Quest managed by {{ first_name }} {{ last_name }}.
                {{/if}}
            </p>
        </div>
            <div class="block-footer">
            <a href="{{ url }}" class="btn btn-primary sb_btn">Select</a>
        </div>
    </div>
</div>
