<div class="block-content">
    <table class="table table-striped payment-methods">
        <tbody><tr>
            <th>
                Title
            </th>
            <th>
                Created
            </th>
            <th>
                Activation Status
            </th>
        </tr>
        {{#each missions}}
            <tr>
                <td>
                    {{this.title}}
                </td>
                <td class="mission-created">
                    {{this.created}}
                </td>
                <td>
                    {{this.active}}
                </td>
            </tr>
        {{ else }}
            <tr>
                <td>
                    No Current Missions {{review_string}}
                </td>
            </tr>
        {{/each}}
    </tbody></table>
</div>