<div class="block">
    <div class="block-title">
        <a href="{{ url }}">
            New Mission: {{ title }}
        </a>
    </div>
    <div class="block-content no-top-bottom-padding">
        <small>{{ created }} <b>&middot;</b> Public</small>
    </div>
    <div class="block-content">
        <div class="image-wrapper">
            <!-- <a href="{{ wallpaper_pic }}" data-lightbox="{{ id }}"><img alt="{{title}}" class="sb-post-image sb-post-image-tall js-enlarge-post-image" src="{{ main_image }}"></a>
            --><a href="{{ url }}"><img alt="{{ title }}" class="sb-post-image js-enlarge-post-image" src="{{ wallpaper_pic }}"></a>
        </div>
        <p>
            {{#if about }}
                {{about}}
            {{else}}
                A {{level}} level {{focus_on_type}} mission.
            {{/if}}
        </p>
    </div>
</div>
