{{#each missions }}
    <div class="block no-margin-bottom">
        <h3 class="block-title no-underline" style="font-size: 16px;">
            <a href="{{ this.url }}">{{ this.title_summary }}</a></h3>
        <div class="block-content no-top-padding">
             <small>
                {{#if this.about }}
                    {{this.about}}
                {{else}}
                    A {{this.level}} level {{this.focus_on_type}} mission.
                {{/if}}
            </small>
        </div>
    </div>
{{/each}}