<div class="col-sm-4">
    <div class="block" id="profile_{{ id }}">
        <div class="block-hero-image" style="height: 120px; overflow: hidden;">
            <img src="{{wallpaper_pic}}" />
        </div>
        <a class="block-title" href="{{ url }}">Profile: {{ first_name }} {{ last_name }}</a>
        <div class="block-content" style="height: 170px; overflow: hidden;">
            <p class="no-margin-top-bottom">Reputation: {{reputation}}</p>
        </div>
            <div class="block-footer">
            <a href="{{ url }}" class="btn btn-primary sb_btn">Select</a>
        </div>
    </div>
</div>
