<div class="col-sm-4">
    <div class="block" id="profile_{{ id }}">
        <div class="block-hero-image" style="height: 120px; overflow: hidden;">
            <img src="{{wallpaper_pic}}" />
        </div>
        <a class="block-title" href="{{ url }}">Profile: {{ name_summary }}</a>
        <div class="block-content" style="height: 170px; overflow: hidden;">
            <p class="no-margin-top-bottom">Reputation: {{reputation}}</p>
        </div>
            <div class="block-footer">
            <a href="{{ url }}" class="btn btn-primary sb_btn">
                {{#if this.button_text}}
                    {{this.button_text}}
                {{else}}
                    {{../../button_text}}
                {{/if}}
            </a>
        </div>
    </div>
</div>
