<div class="block" id="solution-block-{{ id }}">
    <div class="block-title">
        <a href="{{ question.url }}">
            Solution To: {{ question.title }}
        </a>
    </div>
    <div class="block-content no-top-bottom-padding">
        <div class="dropdown">
            <small>Author: <a href="{{ profile.url }}">{{ profile.first_name }} {{ profile.last_name }}</a>  <b>&middot;</b>
                Topics: {{ question.tags_formatted }} <b>&middot;</b>
                {{ created }} <b>&middot;</b> Public</small>
            <div class="pull-right settings-icon-wrapper">
                {{# if is_owner }}
                    <button class="btn dropdown-toggle sb_btn_icon"
                            type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        <span class="fa fa-caret-down sb_btn_icon_green_hover"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a class="sb_post_dropdown_menu js-edit-solution"
                               data-id="{{ id }}" href="/conversations/solutions/{{ id }}/edit/">Edit</a>
                        </li>
                        <li class="sb_divider"></li>
                        <li>
                            <a class='sb_post_dropdown_menu js-delete-solution'
                                    data-id="{{ id }}" data-parent_id="{{ parent_id }}"
                                    data-parent_type="{{ parent_type }}">
                                Delete
                            </a>
                        </li>
                    </ul>
                {{ else }}
                    {{> 'controller/flag/templates/create_flag.hbs' id=id
                        can_flag=can_flag flagged=flagged href=href }}
                {{/if }}
            </div>
        </div>
    </div>
    <div class="block-content">

        <div class="row">
            <div class="hidden-xs col-sm-1 sb_vote_wrapper no-left-right-padding">
                <div class="vote_lg vote_count_large">
                    {{> 'controller/vote/templates/vote.hbs' id=id
                    vote_count=vote_count upvote=upvote downvote=downvote type=type
                    can_upvote=can_upvote can_downvote=can_downvote }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-11">
                <div class="sb-content-body-news">
                    <div class="sb_markdown block-vertical-news">
                        {{{ html_content }}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> 'controller/comments/templates/create_comment.hbs' parent_id=id
            parent_type=type
            can_comment=can_comment
            comment_description="Help improve the Solution by providing feedback"}}
</div>