<div class="block">
    <div class="block-title">
        <a href="{{ url }}" target="_blank">
            {{ title }}
        </a>
    </div>
    <div class="block-content" style="padding-top: 0; padding-bottom: 0;">
        <small>Author: <a href="{{ profile.url }}">{{ profile.first_name }} {{ profile.last_name }}</a> &middot;
            Topics: {{ tags }} &middot;
            {{ published }} </small>
        <small class="pull-right">
           <i class="fa fa-users" style="margin-right: 10px;"></i>Public
        </small>
    </div>
    <div class="block-content">
        <div class="sb_markdown {% if is_closed %} sb_blurred_content{% endif %}">
            {{{ html_content }}}
        </div>
    </div>
</div>



<div class="block">
    <div class="row">
        <div class="vote_small vote_count_medium">
            <div class="col-sm-1 hidden-xs sb_vote_wrapper">
                {% include "vote.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
            <div class="sb-content-body-news">
                <div class="sb_markdown block-vertical-news{% if is_closed %} sb_blurred_content{% endif %}" id="sb_content_{{ object_uuid }}">
                        {% autoescape off %}
                            {{ html_content }}
                        {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
    <div class="js-comment-section"
         data-id="{{ id }}"
         data-type="{{ type }}">
        <div class="js-comment-container newsfeed-comment" id="sb_comments_container_{{ id }}">
        </div>
        <div class="row">
            {% if "comment" in request_profile.privileges and not is_closed %}
                <form id="commentSubmitForm">
                    <div class="input-group sb_comment comment-input" id="comment-input-{{ id }}">
                            <textarea class="input-group form-control sb_comment_input"
                                      rows="2" name="comment_content"
                                      placeholder="Help improve the Question by providing feedback"></textarea>
                            <a class="btn input-group-btn comment-btn"
                               data-id="{{ id }}"><span class="fa fa-plus"></span></a>
                        </div>
                </form>
            {% else %}
                <div><small>
                    <span class="sb_comment_disabled" data-toggle="tooltip"
                          data-placement="top"
                          data-title="Requirement: 20+ Rep"
                          id="post_comment_on_{{ object_uuid }}">
                        comment
                    </span>
                </small></div>
            {% endif %}
        </div>
    </div>
</div>