<div class="selected-product-container row"
     data-vendor_id="{{product.asin}}"
     style="height: 95px;">
    <div class="col-xs-2">
        <img class="gift-image-selected"
             width="75px"
             src="{{product.image}}"/>
    </div>
    <div class="col-xs-5">
        <a class="gift-title-selected"
           target="_blank"
           href="{{product.url}}">{{product.title}}</a>
    </div>
    <div class="col-xs-5">
        <div>${{product.price}}</div>
        <button class="btn btn-primary sb_btn sb_btn_fill js-remove"
                data-product_id="{{product.asin}}"
                data-product_description="{{product.title}}"
                data-product_price="{{product.price}}"
                data-product_image="{{product.image}}">
            Remove</button>
    </div>
</div>