<div class="product-container {{#if list_setup}}col-sm-4{{else}}col-sm-3{{/if}} margin-bottom-20">
    <div class="block block-state-inactive block-state-incomplete">
        <div class="block-hero-image gift-image unselected-product-image-container">
            <a target="_blank" href="{{product.url}}">
                <img class="" src="{{product.image}}">
            </a>
        </div>
        <a class="gift-title block-title" target="_blank" href="{{product.url}}">{{product.title}}</a>
        <div class="block-content unselected-product-price-container{{#if list_setup}}-setup{{/if}}">
            <p class="font-size-14 no-margin-bottom">
                Price: ${{product.price}}
            </p>
            {{#if list_setup}}
                {{#if product.has_reviews}}
                    <div style="overflow: hidden; height: 50px;">
                        <iframe style="margin-top: -80px; margin-left: -20px;" scrolling="no" src="{{product.iframe}}"></iframe>
                    </div>
                {{/if}}
            {{/if}}

            <p class="font-size-14">
                Fulfilled by <a target="_blank" href="http://amzn.to/2acfwCm">Amazon</a>
            </p>
        </div>
        <div class="gift-footer">
            <div class="col-xs-12 js-add-to-selected">
                <button class="btn btn-primary sb_btn sb_btn_fill js-add"
                        data-product_id="{{product.asin}}"
                        data-product_description="{{product.title}}"
                        data-product_price="{{product.price}}"
                        data-product_image="{{product.image}}"
                        data-object_uuid="{{product.object_uuid}}">
                    Select</button>
            </div>
        </div>
    </div>
</div>