<div class="product-container col-sm-3 margin-bottom-20">
    <div class="block block-state-inactive block-state-incomplete">
        <div class="block-hero-image gift-image" style="height: 150px;overflow: hidden;">
            <img class="" src="{{product.image}}">
        </div>
        <a class="gift-title block-title" target="_blank" href="{{product.url}}">{{product.title}}</a>
        <div class="block-content" style="height: 170px;overflow: hidden;">
            <p>
                ${{product.price}}
            </p>
        </div>
        <div class="block-footer">
            <div class="col-xs-12 js-add-to-selected">
                <button id="{{product.asin}}-add" class="btn btn-primary sb_btn sb_btn_fill js-add"
                        data-product_id="{{product.asin}}"
                        data-product_description="{{product.title}}"
                        data-product_price="{{product.price}}"
                        data-product_image="{{product.image}}">
                    Select</button>
            </div>
        </div>
    </div>
</div>